<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- main menu-->
    <menuitem id="menu_hospital_root"
              name="Hospital"/>

    <!-- Action -->
    <record id="action_hospital_patient" model="ir.actions.act_window">
        <field name="name">Patients</field>
        <field name="res_model">hr_hospital.patient</field>
        <field name="view_mode">list,form</field>
    </record>

    <record id="action_hospital_doctor" model="ir.actions.act_window">
        <field name="name">Doctors</field>
        <field name="res_model">hr_hospital.doctor</field>
        <field name="view_mode">list,form</field>
    </record>

    <record id="action_hospital_disease" model="ir.actions.act_window">
        <field name="name">Diseases</field>
        <field name="res_model">hr_hospital.disease</field>
        <field name="view_mode">list,form</field>
    </record>

    <record id="action_hospital_visit" model="ir.actions.act_window">
        <field name="name">Visits</field>
        <field name="res_model">hr_hospital.visit</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Menu-->
    <menuitem id="menu_hospital_patients"
              name="Patients"
              parent="menu_hospital_root"
              action="action_hospital_patient"/>

    <menuitem id="menu_hospital_doctors"
              name="Doctors"
              parent="menu_hospital_root"
              action="action_hospital_doctor"/>

    <menuitem id="menu_hospital_disease"
              name="Diseases"
              parent="menu_hospital_root"
              action="action_hospital_disease"/>

    <menuitem id="menu_hospital_visit"
              name="Visits"
              parent="menu_hospital_root"
              action="action_hospital_visit"/>

    <!-- List view -->
    <record id="view_hospital_patient_list" model="ir.ui.view">
        <field name="name">hospital.patient.list</field>
        <field name="model">hr_hospital.patient</field>
        <field name="arch" type="xml">
            <list>
                <field name="name"/>
                <field name="age"/>
                <field name="doctor_id"/>
            </list>
        </field>
    </record>

    <record id="view_hospital_doctor_list" model="ir.ui.view">
        <field name="name">hospital.doctor.list</field>
        <field name="model">hr_hospital.doctor</field>
        <field name="arch" type="xml">
            <list>
                <field name="name"/>
                <field name="specialization"/>
            </list>
        </field>
    </record>

    <record id="view_hospital_disease_list" model="ir.ui.view">
        <field name="name">hospital.disease.list</field>
        <field name="model">hr_hospital.disease</field>
        <field name="arch" type="xml">
            <list>
                <field name="name"/>
                <field name="description"/>
            </list>
        </field>
    </record>

    <record id="view_hospital_visit_list" model="ir.ui.view">
        <field name="name">hospital.visit.list</field>
        <field name="model">hr_hospital.visit</field>
        <field name="arch" type="xml">
            <list>
                <field name="patient_id"/>
                <field name="doctor_id"/>
                <field name="disease_id"/>
                <field name="visit_date"/>
            </list>
        </field>
    </record>

    <!-- Form view -->
    <record id="view_hospital_patient_form" model="ir.ui.view">
        <field name="name">hospital.patient.form</field>
        <field name="model">hr_hospital.patient</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="name"/>
                        <field name="age"/>
                        <field name="doctor_id"/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>

    <record id="view_hospital_doctor_form" model="ir.ui.view">
        <field name="name">hospital.doctor.form</field>
        <field name="model">hr_hospital.doctor</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="name"/>
                        <field name="specialization"/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>

    <record id="view_hospital_disease_form" model="ir.ui.view">
        <field name="name">hospital.disease.form</field>
        <field name="model">hr_hospital.disease</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="name"/>
                        <field name="description"/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>

    <record id="view_hospital_visit_form" model="ir.ui.view">
        <field name="name">hospital.visit.form</field>
        <field name="model">hr_hospital.visit</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="patient_id"/>
                        <field name="doctor_id"/>
                        <field name="disease_id"/>
                        <field name="visit_date"/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>

</odoo>